{% extends 'logged_in_layout.html.twig' %}

{% block title %}{{ 'general.buttons.edit'|trans }} {{ 'label.level'|trans }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ 'general.buttons.edit'|trans }} {{ 'label.level'|trans }}</h4>

            {{ include('level/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
